<h1> Welcome to the College Confessions App! </h1>
<p> Here, you can write down all of your thoughts, let it go, and all of it anonymously! </p> 
<% @confession.each do |confession| %> 
	<h2> <%= confession.confession %> </h1> 
<%end%>